/* Pré settings */
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
    font-family: "Josefin Sans";
}
* {
    font-family: inherit;
    color: var(--main-color);
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}
h1,
h2,
h3 {
    font-family: "Aboreto";
}
button {
    background: none;
    border: none;
    font-size: inherit;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1em;
    border: 1px solid;
    border-radius: 10px;
}
body {
    position: relative;
}

/* settings couleur typo... */
:root {
    /* --main-color: #f5fdc6; */
    /* --bg-color: #0c0c0c; */
    /* --title-typo: #ff4500; */
    /* --hover-color: #d0b17a; */
}
a:hover,
a:hover * {
    color: var(--hover-color);
}
/* ANIMATION ON SCROLL */
.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(8px);
    transition: all 1.5s;
}
.show {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
}

/* NAVBAR + RESPONSIVE NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.navbar.sticky {
    backdrop-filter: blur(8px);
    box-shadow: 1px -5px 10px #f5fdc6;
}
.material-symbols-outlined.btn-menu-on {
    display: none;
    font-size: 2em;
    z-index: 9;
}
.navlinks {
    position: relative;
    transition: margin-left 1s;
    z-index: 10;
}
.navlinks ul {
    display: flex;
    align-items: center;
}
.material-symbols-outlined.btn-menu-off {
    display: none;
    position: absolute;
    top: 1.3em;
    right: 1em;
    font-size: 2em;
}
.navlinks ul li {
    margin: 1em;
}
.navlinks ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* menu mobile */
.menu-mobile {
    margin-left: 0 !important;
}
/* dropdown */
.menu-resto {
    cursor: pointer;
}
.dropdown {
    position: relative;
    opacity: 0;
    margin-left: -100%;
    transition: opacity 0.5s, margin-left 0.5s;
}
.dropdown.dropdown-appear {
    opacity: 1;
    margin-left: 0;
}
.dropdown ul {
    position: absolute;
    top: 0;
    left: -1em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: max-content;
    background-color: white;
}
/* navlinks for phone */
@media (max-width: 1000px) {
    .material-symbols-outlined.call {
        display: none;
    }
    .material-symbols-outlined.btn-menu-on {
        display: flex;
    }
    .material-symbols-outlined.btn-menu-off {
        display: flex;
    }
    .navlinks ul {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    .navlinks {
        margin-left: -100%;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: white;
        display: grid !important;
        place-items: center;
    }
    .navlinks ul {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    .navlinks ul li {
        font-size: 24px;
    }
    .navlinks ul li span {
        font-size: 1.5em;
    }
}

/* HEROBANNER */
.herobanner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: baseline;
    justify-content: center;
}
.herobanner-text {
    margin: 15em 5em 2em 5em;
}
.herobanner-text p {
    margin-bottom: 1em;
}
.main-btn {
    display: flex;
    width: max-content;
    align-items: baseline;
    justify-content: center;
}
.main-btn .btn {
    margin-right: 10px;
}
.herobanner .carte .icon-carte {
    margin-right: 10px;
}
.herobanner .resa .icon-reservation {
    margin-right: 10px;
}
@media (max-width: 550px) {
    .herobanner .main-btn {
        flex-direction: column;
        margin-inline: auto;
    }
    .main-btn .btn {
        margin: 10px 0;
    }
}

/* GALERIE */
#galerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.galerie {
    max-width: 1200px;
    width: 80%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 10px;
}
.galerie li {
    width: 300px;
}
.galerie img {
    width: 100%;
    height: initial;
    object-fit: cover;
    object-position: center;
}
.galerie li:nth-child(2) {
    transition-delay: 200ms;
}
.galerie li:nth-child(3) {
    transition-delay: 400ms;
}
.galerie li:nth-child(4) {
    transition-delay: 600ms;
}
.galerie li:nth-child(5) {
    transition-delay: 800ms;
}
.galerie li:nth-child(6) {
    transition-delay: 1000ms;
}
.galerie li[data-index="5"] img {
    margin-top: -50px;
}
@media (max-width: 1151px) {
    .galerie li[data-index="5"] img {
        margin-top: 0;
    }
    .galerie li[data-index="4"] img,
    .galerie li[data-index="6"] img {
        margin-top: -50px;
    }
}
@media (max-width: 763px) {
    .galerie li[data-index="4"] img,
    .galerie li[data-index="6"] img {
        margin-top: 0;
    }
}

/* FOOTER */
.footer {
    padding: 8em 4em;
}
.footer .logo {
    display: block;
    margin-bottom: 3em;
}
.footer-main-infos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-main-infos div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.footer-main-infos .titre {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-main-infos .titre span.material-symbols-outlined {
    margin-right: 10px;
}
.footer-main-infos .text {
    padding: 1em 2em;
}
.footer-main-infos .text i {
    margin-right: 1em;
}
@media (max-width: 900px) {
    .footer-main-infos {
        flex-direction: column;
    }
}

/* PAGE CARTE.HTML */
/* CARTE */
#la-carte {
    margin-top: 3em;
    padding: var(--scroll-padding-top) 4em;
    display: flex;
    flex-wrap: wrap;
}
#la-carte div:nth-child(2) {
    transition-delay: 200ms;
}
#la-carte div:nth-child(3) {
    transition-delay: 400ms;
}
#la-carte div:nth-child(4) {
    transition-delay: 600ms;
}
#plat,
#vin,
#boisson,
#dessert {
    margin: 4em;
    flex-grow: 1;
}
.plats,
.boissons,
.vins,
.desserts {
    margin: 2em 0;
}
.plats h3,
.boissons h3,
.vins h3,
.desserts h3 {
    padding-top: 2em;
}
.titre-prix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#la-carte .main-btn {
    margin: auto;
}
@media (max-width: 500px) {
    #plat,
    #vin,
    #boisson,
    #dessert {
        margin-inline: 0;
    }
}

/* GALERIE.HTML */
/* GALERIE */
#galerie-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--scroll-padding-top);
}
#reso .titre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
#reso .titre span {
    margin-right: 10px;
}
.reso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    margin-inline: auto;
    font-size: 2em;
}
