* {
    font-family: monospace;
    color: black;
}
a:hover {
    color: red;
}
body {
    padding: 2em;
    font-size: large;
}
div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4em;
    line-height: 2em;
}
div strong {
    text-transform: uppercase;
}
.portfolio-list li {
    margin: 1em 0;
}
@media (max-width: 900px) {
    body {
        padding: 0;
    }
    div {
        padding: 2em;
    }
}
