html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
    background-color: #e5d7d7;
}
::-webkit-scrollbar {
    display: none;
}

* {
    color: inherit;
    text-decoration: none;
    font-family: "Satoshi";
    font-weight: 475;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2 {
    font-family: "Clash Display";
    font-weight: 800;
}

.preloader {
    position: absolute;
    display: grid;
    place-content: center;
    transform: translateX(-0%);
    width: 100%;
    height: 100vh;
    background-color: #e5d7d7;
    z-index: 10;
}
.preloader h3 {
    text-align: center;
}
.preloader h1 {
    font-variation-settings: "wght" 500;
    font-style: italic;

    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: change;
    transition-timing-function: ease-in-out;
}
@keyframes change {
    0% {
        font-variation-settings: "wght" 500;
    }

    50% {
        font-variation-settings: "wght" 900;
    }

    100% {
        font-variation-settings: "wght" 500;
    }
}
.fondu-out {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 2s;
    transition-delay: 2s;
}

.herobanner {
    height: var(--section-height);
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}
.herobanner .list-items {
    margin-top: 5em;
}
.herobanner .next {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    width: fit-content;
    padding: 1.25rem 0.5rem;
    border: 2px solid;
    border-radius: 1.25rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;
}
#navbar * {
    font-family: "Clash Display";
}

.list-items {
    display: flex;
}
.list-items li {
    margin-inline: 1rem;
}
#navbar.sticky {
    position: sticky;
    inset: 0;
    opacity: 1;
}

.content section {
    width: 100%;
    height: 100vh;
    padding: 4rem;
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    place-content: center;
}
.content h3 {
    font-family: "Clash Display";
    font-size: 1.6rem;
    font-weight: 700;
}

.content-about {
    display: flex;
    justify-content: space-between;
}
.paragraphes {
    flex-basis: 53%;
}
.paragraphes p {
    font-size: 1.3rem;
    padding: 2rem;
    font-weight: 550;
    line-height: 2rem;
}
.content-about .img {
    background-image: url("./media-index/IMG_9599.jpg");
    flex-basis: 29%;
    height: 400px;
    background-position: center 10;
    background-size: cover;
}

.content #projets {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-items-projets {
    height: auto;
    display: grid;
    place-content: center;
    text-align: center;
}
.list-items-projets li {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    transition: color 1s;
}
.list-items-projets li p {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.list-items-projets li:hover {
    color: #463f3a;
}
.list-items-projets li:hover p {
    opacity: 1;
}

.contact-content {
    display: grid;
    place-content: center;
    height: 100%;
}
.contact-content p {
    padding: 3rem;
}
.list-items-contact {
    line-height: 2rem;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    #about {
        flex-direction: column;
    }
    .img {
        display: none;
    }
}
@media (max-width: 700px) {
    .content section {
        padding: 2rem;
        font-size: 1rem;
    }
    .content section h3 {
        font-size: 1.4rem;
        padding-top: 3rem;
    }

    #about .paragraphes {
        flex-basis: auto;
    }
    #about .paragraphes p {
        padding: 1rem;
        line-height: normal;
    }
    .list-items-projets li {
        margin: 0.5rem 0;
    }
}
@media (max-width: 350px) {
    .content section {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
