* {
    font-family: monospace;
    color: black;
}
a:hover {
    color: red;
}
body {
    padding: 2em;
    font-size: large;
}
div {
    padding: 4em;
    line-height: 2em;
}
div strong {
    text-transform: uppercase;
}
.portfolio-list li {
    margin: 1em 0;
}
